[submodule "areo_gui"]
	path = areo_gui
	url = https://github.com/enyoos/areo_gui
[submodule "aerobot"]
	path = aerobot
	url = https://github.com/enyoos/aerobot
[submodule "xatkit"]
	path = xatkit
	url = https://github.com/xatkit-bot-platform/xatkit
